# SPDX-FileCopyrightText: 2026 ThingsBoard
#
# SPDX-License-Identifier: Apache-2.0

[submodule "sdk_core"]
	path = sdk_core
	url = https://github.com/thingsboard/thingsboard-micro-sdk-core
[submodule "thingsboard_sdk/sdk_core"]
	path = thingsboard_sdk/sdk_core
	url = https://github.com/thingsboard/thingsboard-micro-sdk-core
